<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="extended_finger" default="true" />
    <arg name="extended_finger_urdf" default="/root/extended_finger.urdf" />

    <node name="enable_robot" pkg="intera_interface" type="enable_robot.py" args="-e" output="screen" />
    
    <node name="joint_trajectory_action_server" pkg="intera_interface" type="joint_trajectory_action_server.py" output="screen" />
    
    <node if="$(arg extended_finger)" name="change_urdf" pkg="intera_interface" type="send_urdf_fragment.py" args="-f $(arg extended_finger_urdf) -l right_gripper_base -j right_gripper_tip_ex -d 100000" output="screen" />

    <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
        <arg name="electric_gripper" value="true" />
    </include>

    <node name="pub_base_origin_tf" pkg="apriltags2_ros" type="pub_origin_tf.py" output="screen" />

    <include file="$(find apriltags2_ros)/launch/apriltag_pointgrey.launch" />

</launch>
